.footer-container{
    background-color: #1A1A1D;
    text-align: center;
    color: white;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}
.nav-link {
    margin: 10px;
}
.nav-link a{
    margin: 20px;
    color: white;
}
.nav-socialmedia {
    padding-top: 10px;
}
.nav-socialmedia a {
    color: white;
    margin: 20px;
    font-size: larger;
}